<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
      <services>
          <configurator type="Foundation.Variants.DI.Configurator, Foundation.Variants" />
      </services>
      <pipelines>
          <mvc.renderRendering>
              <processor patch:after="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.GenerateCacheKey, Sitecore.Mvc']"
                         type=" Foundation.Variants.Pipelines.RenderRendering.DisableCacheForLocalizedVariants, Foundation.Variants" />
          </mvc.renderRendering>
      </pipelines>
  </sitecore>
</configuration>